
*{
	font-family: 'PT Sans', sans-serif;
	color: white;
}
h1{
		font-weight: bold;
		color: white;

}
.loggedinuser{
	color: lightblue;
}
input{
	color: black;
	margin: 10px;
	background: light-blue;
	width: 300px;
}
text-area{
	color: black;
	margin: 10px;
	background: light-blue;
	width: 300px;
}
.response-box{
	float: left;
	border: 2px solid white;
	border-radius: 5px;
	padding: 20px 20px 20px 20px;
	width: 300;
	max-width: 300px;
	max-height: 400px;
	overflow: scroll;
	margin: 15px;
	horizontal-align: center;
}

.response-header{
	text-align: center;
	text-decoration: underline;

}
.response-inputs{
	margin: 10px;
	background: light-blue;
	width: 300px;
}
.created-at-show{
	color: green;
}
button{
	margin-top: 6px;
	border-radius: 5px;
	border: none;
	padding: 8px;
	color: black;

}

body{
		background: url('space.jpg') no-repeat center center fixed;
		background-size: cover;

}
.jumbotron{
	background: transparent;
	color: white;
}